/csad.zip
/models
/InstAD/results
/InstAD/instad_output/
/InstAD/segment/cnn/__pycache__/
/InstAD/__pycache__/
/InstAD/patchcore/__pycache__/
/InstAD/patchcore/datasets/__pycache__/
/InstAD/segment/__pycache__/
/csad/models/segment2/__pycache__/
/csad/ckpt
/csad/models/segment3/checkpoints
/csad/models/segment3/utils/__pycache__/
/csad/models/segment3/vis/
/csad/models/segment3/pretrained/
/csad/models/segment3/models/__pycache__/
/csad/models/segment3/log/
/csad/models/segment3/dataset/__pycache__/
/csad/models/__pycache__/
/csad/__pycache__/
/csad/models/segment3/__pycache__/
/ShiZhi/__pycache__/